%header.header
  .inner.wrapper
    %h1.logo
      = link_to root_path do
        = image_tag 'logo.svg', alt: 'Web Entertainment Design'
    %nav
      %ul
        %li
          = link_to 'COMPANY', '#'
        %li
          = link_to 'NEWS', '#'
        %li
          = link_to 'BUSINESS', '#'
        %li
          = link_to 'COMPANY', '#'
  = link_to 'お問い合わせ', '#', class: 'contact'
